    html {
        font-size: 2vw;
    }
    
    body {
        background-image: url("../images/back.jpg");  /* fallback for old browsers */
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;
        width: 100%;
        padding:0;
        margin:0px;
        overflow: hidden;
        color: ghostwhite;
        overflow: hidden;
    }

    html,
    body,
    div#contents {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #topBar{
        position: fixed;
    }

    #namaste{
        border-left: 50px solid #f87c7c;
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    #home,
    #experienceHead,
    #resumeHead,
    #skillHead,
    #projectHead {
        position: fixed;
    }
    
    .active{
        display: block;
    }
    .inactive{
        display: none;
    }


    #namaste .mainHead{
        font-size: 7.5vw;
    }

    #namaste #namasteText{
        font-family: 'Poppins', sans-serif;
        font-size:2.5vw; 
        padding-left: 10px;
    }

    .experienceContainer {
        width: 80%;
        padding: 50px 0;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
     }
     
     .experienceContainer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background: #CCD1D9;
        z-index: 1
     }
     
     .timeline-block {
        text-shadow: 5px 5px 20px #000000;
        font-family: 'MuseoModerno', cursive;
        width: -webkit-calc(50% + 8px);
        width: -moz-calc(50% + 8px);
        width: calc(50% + 8px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        clear: both;
     }
     
     .timeline-block-right {
        float: right;
     }
     
     .timeline-block-left {
        float: left;
        direction: rtl
     }
     
     .marker {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #F5F7FA;
        background: #4FC1E9;
        margin-top: 10px;
        z-index: 9999
     }

     .header {
        padding: 16px;
        display: flex;
      }

      .jobDesWrapper {
        display: inline-block;
        margin-left: 6px;
      }
      
     .timeline-content {
        width: 95%;
        padding: 0 15px;
        color: #F4F5FF
     }
     
     .timeline-content  h3{
        margin-bottom: 5px;
        font-size: 1.1em;
        font-weight: 500
     }
     
     .timeline-content span {
        font-size: 15px;
        color: #a4a4a4;
     }
     
     .timeline-content p {
        font-size:0.55em;
        line-height: 1.5em;
        word-spacing: 1px;
        color: #F4F5FF
     }
     
     .timeline-content .jobDate{
         font-size: 0.8em;
         font-style: italic;
     }

     .header img{
        height: 50px;
        display: block;
    }

    #title,
    #backToTop,
    #namaste,
    #projectHead,
    #experienceTitle,
    #skillTitle,
    #resumeTitle {
        text-shadow: 5px 5px 20px #000000;
        width: 100%;
        height: auto;
        font-family: 'MuseoModerno', cursive;
        font-size: x-large;
        padding: 20px;
    }
    
    #experienceTitle,
    #skillTitle,
    #resumeTitle {
        text-align: center;
        margin-top: -15px;
    }
    
    #topBar a,#backToTop a {
        color: ghostwhite;
    }
    
    #nav a:hover, #name a:hover, #links a:hover, #backToTop a:hover {
        text-decoration: none;
        transform: scale(1.05);
        color: rgb(10, 167, 88);
    }
    
    .projectDes a i{
        margin: 10px;;
    }

    .projectDes a i:hover{
        text-decoration: none;
        transform: scale(1.2);
        color: rgb(10, 167, 88);    
    }


    #topBar {
        z-index: 5;
    }
    

    #namaste{
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        padding-left: 20%;
        transition: all 0.6s;
    }

    .projectTile {
        border: none;
        border-radius: 20px;
    }
    
    .projectDes {
        padding: 15%;
        text-align: center;
    }

    .projectDes .title{
        font-size: 1.2em;
    }
    .projectDes .subTitle{
        font-size: 0.8em;
    }
    
    
    #nav {
        text-shadow: 5px 5px 20px #000000;
        position: fixed;
        top: 0;
        right: 0;
        font-family: 'MuseoModerno', cursive;
        font-size: x-large;
        padding: 20px;
    }
    
    #nav a {
        display: block;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    #backToTop {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 5;
    }
    
    #experienceScroll div img {
        width: 10vw;
        height: 10vw;
        border: none;
    }
    
    #projectTitle,
    #projectScroll {
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        transition: all 0.6s;
    }
    
    #projectScroll li {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .paddle{
        position: absolute;
        margin-top: -12vh;
        width: auto;
        height: 15vh;
        background:rgba(0,0,0,0.7);
        background-size: 100%;
        transition: background-size 1s 0s;
        padding: 10px;
        z-index: 1999;
    }

    .paddle-hover{
        background:black;
        transform: scale(1.2);
        transition: all 0.2s;
    }

    .paddle:active{
        color: coral;
    }

    .paddle i{
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
    }

    .right-paddle{
        right: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .left-paddle{
        display: none;
        left:0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    #projectScroll {
        position: relative;
        left: 40vw;
        margin-top: -12vh;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .projectTile {
        width: 45vw;
        height: 51vh;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
    }
    
    .activeScroll #projectScroll {
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        transition: all 0.6s;
    }
    
    #jobTitle{
        text-align: center;
        margin-top: auto;
        padding-left: 2%;
        font-size:1.1em;
        
    }

    
    #experienceScroll {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        margin-left: -20px;
        padding-top: 0;
    }
    
    #languages,
    #technologies,
    #attributes {
        font-family: 'MuseoModerno', cursive;
        font-size: 1.3rem;
        text-align: center;
    }
    
    .badge {
        padding: 10px;
        margin: 10px;
        font-family: 'Comfortaa', cursive;
        font-size: 0.7rem;
    }
    
    #skillContent {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    
    #skillWrapper,
    #experienceWrapper,
    #resumeWrapper {
        padding-top: 15vh;
    }
    
    #resumeContent {
        height: 55vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #experienceScroll {
        margin: auto;
        margin-top: -3vh;
        width: 85%;
        height: 60vh;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    #experienceScroll,#resumeContent {
        scrollbar-width: auto;
        scrollbar-color: linear-gradient(90deg, rgba(98,165,185,1) 0%, rgba(2,162,222,1) 58%, rgba(0,212,255,1) 100%) #F4F5FF;
    }

    /* Chrome, Edge, and Safari */
    #experienceScroll::-webkit-scrollbar, #resumeContent::-webkit-scrollbar {
        width: 20px;
    }

    #experienceScroll::-webkit-scrollbar-track, #resumeContent::-webkit-scrollbar-track  {
        background: none;
    }

    #experienceScroll::-webkit-scrollbar-thumb, #resumeContent::-webkit-scrollbar-thumb {
        background: rgb(98,165,185);
        background: linear-gradient(90deg, rgba(98,165,185,1) 0%, rgba(2,162,222,1) 58%, rgba(0,212,255,1) 100%);
        border-radius: 10px;
        border: 2px solid #F4F5FF;
    }
    
    .btn {
        font-size: 1em;
    }
    
    .activeScroll #projectTitle {
        opacity: 0.6;
    }

    #home{
        z-index: -1;
    }
   


    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    
    @media screen and (max-width: 800px) {

        .timeline-content h3{
            font-size: 1.6em;
        }

        .timeline-content .jobDate{
            font-size: 1.4em;
            font-style: italic;
        }

        .experienceContainer:before {
            left: 8px;
            width: 2px;
         }
         .timeline-block {
            width: 100%;
            margin-bottom: 30px;
         }
         .timeline-block-right {
            float: none;
         }
      
         .timeline-block-left {
            float: none;
            direction: ltr;
         }
 
         .timeline-content p {
             font-size:1.6ex;
          }

        #namaste {
            opacity: 1;
            font-size: 4vw;
        }

        #namaste .mainHead{
            font-size: 9vw;
        }
    
        #namaste #namasteText{
            font-family: 'Poppins', sans-serif;
            font-size:5vw; 
            padding-left: 10px;
        }

        #projectTitle,
        .activeScroll #projectTitle {
            top: 28vh;
            opacity: 1;
        }
        #projectScroll {
            top: 60vh;
            left: 0;
            padding: 0;
        }

        .timeline-content p {
            font-size:2ex;
         }

        .right-paddle,.left-paddle{
            top:60vh;
        }

        .projectDes .title{
            font-size: 0.8em;
        }
        .projectDes .subTitle{
            font-size: 0.6em;
        }

        .projectTile {
            width: 70vw;
            height: 70vw;
        }
        .projectDes {
            padding: 10%;
        }
        #backToTop {
            padding: 10px;
        }

        #experienceTitle{
            margin-top: 7vh;
        }

        #resumeTitle{
            top:60vw;
        }
        #experienceScroll {
            border-left: 3px solid rgba(244, 232, 255, 0.7);
            margin: auto;
            margin-top: -3vh;
            width: 85%;
            height: 60vh;
            display: block;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        #languages,
        #technologies,
        #attributes {
            font-size: 2em;
        }
        .badge {
            font-size: 0.8em;
        }
        #skillContent {
            height: 65vh;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: blue none;
        }
        #skillContent::-webkit-scrollbar {
            width: 8px;
        }
        #skillContent::-webkit-scrollbar-track {
            background: none;
        }
        #skillContent::-webkit-scrollbar-thumb {
            background-color: blue;
            border-radius: 20px;
            border: 2px solid rgb(255, 255, 255);
        }
        #resumeContent {
            height: 65vh;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: blue none;
        }
        #resumeContent::-webkit-scrollbar {
            width: 8px;
        }
        #resumeContent::-webkit-scrollbar-track {
            background: none;
        }
        #resumeContent::-webkit-scrollbar-thumb {
            background-color: blue;
            border-radius: 20px;
            border: 2px solid rgb(255, 255, 255);
        }
    }


    @media screen and (max-width: 500px) {
        #namaste .mainhead{
            font-size: 1.5rem;
        }

        .timeline-content h3{
            font-size: 2.5em;
        }

        .jobDate{
            font-size: 2.5em;
        }

        .timeline-content p {
            font-size:1.5em;
         }

        #topBar a {
            font-size: 0.8em;
            transition: all 0.5s;
        }

        .header img{
            display: none;
        }
        
    }



    #contents::-webkit-scrollbar {
        display: none;
    }
    
    #projectScroll::-webkit-scrollbar {
        display: none;
    }
    
    .projectTile::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE and Edge */
    
    #contents,
    #projectScroll,
    .projectTile {
        -ms-overflow-style: none;
    }
    
    .slide-in-right {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2020-7-2 15:0:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;

    }
  }

  .slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
  

/* ----------------------------------------------
 * Generated by Animista on 2020-7-2 15:18:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
